###############################################################
## Elastic Beanstalk environment variables.
##
## These are the required variables needed for BookStack to
## operate. All other variables typically set in '.env' can
## be added here or via the EB web console.
###############################################################
option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: 'prod'
    APP_DEBUG: 'false'
    APP_KEY: '***CHANGEME***'
    APP_URL: 'http://bookstack.dev'
    DB_HOST: '127.0.0.1:3306'
    DB_DATABASE: 'bookstack'
    DB_USERNAME: 'bookstack'
    DB_PASSWORD: 'bookstack'

###############################################################
## Commands executed AFTER unpacking appliation data.
##
## DO NOT TOUCH -- This will correct any invalid file
## permissions and force the lead instance to perform a
## database migration if needed.
###############################################################
container_commands:
  01_chown:
    command: "chown -Rv webapp:webapp bootstrap/cache"
  02_chmod:
    command: "chmod -v 775 bootstrap/cache"
  10_migrate:
    command: "php artisan migrate -v --force"
    leader_only: true

###############################################################
## Commands executed BEFORE unpacking appliation data.
##
## DO NOT TOUCH -- This will install the missing php-tidy
## module and update composer to the latest version.
###############################################################
commands:
  01_php-tidy:
    command: "yum install -y php$(/opt/elasticbeanstalk/bin/get-config container -k 'php_version' | tr -d '.')-tidy"
  02_composer-update:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"